/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This userChrome is for button layout Minimize Right */

@import "base.css";

/****** window controls buttons ******/

.titlebar-buttonbox-container {
    position: relative !important;
}
.titlebar-buttonbox {
    appearance: none !important;
    top: -13px !important;
    margin-left: 4px !important;
    position: absolute !important;
    flex-direction: row !important;
    display: flex !important;
    width: 100vw !important;
    height: 25px !important;
    justify-content: start !important;
}

/* make room for window control buttons */

#unifiedToolbar {
    position: relative !important;
    margin-left: 40px !important;
    margin-right: 75px !important;
    z-index: 2 !important;
}

/* move window control buttons when spacestoolbar is active */

:root[spacestoolbar="true"] .titlebar-buttonbox {
    appearance: none !important;
    top: -13px !important;
    margin-right: 40px !important;
    position: absolute !important;
    flex-direction: row !important;
    display: flex !important;
    width: 100vw !important;
    height: 25px !important;
    justify-content: start !important;
}
.titlebar-min {
    margin-left: calc(100vw - 100px) !important;
}
:root[spacestoolbar="true"][uidensity="touch"] .titlebar-min {
    margin-left: calc(100vw - 155px) !important;
}
:root[spacestoolbar="true"][uidensity="compact"] .titlebar-min {
    margin-left: calc(100vw - 137px) !important;
}
:root[spacestoolbar="true"]:not([uidensity="touch"]):not([uidensity="compact"]) .titlebar-min {
    margin-left: calc(100vw - 145px) !important;
}
