/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This userChrome is for button layout Elementary Reversed */

@import "base.css";

/****** window controls buttons ******/

.titlebar-buttonbox-container {
    position: relative !important;
}
.titlebar-buttonbox {
    top: 50% !important;
    transform: translateY(-50%) !important;
    appearance: none !important;
    position: absolute !important;
    flex-direction: row !important;
    display: flex !important;
    margin-left: -99.5vw !important;
    width: calc(100vw - 8px) !important;
    height: 25px !important;
    justify-content: space-between !important;
}

/* make room for window control buttons */

#unifiedToolbar {
    position: relative !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
    z-index: 2 !important;
}

/* move window control buttons when spacestoolbar is active */

:root[spacestoolbar="true"] .titlebar-buttonbox {
    appearance: none !important;
    position: absolute !important;
    flex-direction: row !important;
    display: flex !important;
    margin-left: -97vw !important;
    width: calc(100vw - 46px) !important;
    height: 25px !important;
    justify-content: space-between !important;
}
:root[spacestoolbar="true"][uidensity="touch"] .titlebar-max,
:root[spacestoolbar="true"][uidensity="touch"] .titlebar-restore {
    margin-left: 15px !important;
}
:root[spacestoolbar="true"]:not([uidensity="touch"]):not([uidensity="compact"]) .titlebar-max,
:root[spacestoolbar="true"]:not([uidensity="touch"]):not([uidensity="compact"]) .titlebar-restore  {
    margin-left: 5px !important;
}
